<%- include("header") -%>


<div style="display: flex;justify-content: center;flex-wrap: wrap;column-gap: 1vh;">
    <form action="/updateurl/<%=id %>" method="post" style="display: flex; justify-content: center;padding: 2rem 2rem 2.5rem 2rem;column-gap: 0.8rem;">
        <input required placeholder="URL" value="<%= oldurl%>" type="text" name="fullURL" id="fullURL" class="form-control mr-2" style="max-width: 500px;font-size: 16px;">
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    <button style="padding: 0;
        border: none;
        background: none;" onclick="history.back()" type="submit"><span class="material-symbols-outlined">
            cancel
            </span></button>
            <form style="align-self: center;" method="get" action="/deleteurl/<%= id %>">
        <button style="padding: 0;
        border: none;
        background: none;" type="submit"><span class="material-symbols-outlined">
            delete
            </span></button>
        </form>
        </div>
